<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>
<th:block th:fragment="content">

    <div class="page-header">
        <h1>Üdvözöljük <small>a Fogadóiroda webalkalmazásban!</small></h1>
    </div>

    <form th:object="${example}" th:action="@{/postSomething}" method="post">
        <div class="form-group">
            <label for="nev">Név</label>
            <input type="text" class="form-control" th:field="*{nev}" id="nev" placeholder="Név" />
        </div>
        <div class="form-group">
            <label for="kod">Kód</label>
            <input type="text" class="form-control" th:field="*{kod}" id="kod" placeholder="Kód" />
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Mentés</button>
    </form>


</th:block>
</body>
</html>
