<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>
<th:block th:fragment="content">

    <div class="page-header">
        <h1>Felhasználók listája</h1>
    </div>

    <table class="table table-striped table-hover">
        <tr>
            <th>#</th>
            <th>Loginnév</th>
            <th>Email</th>
            <th>Operátor</th>
            <th>Műveletek</th>
        </tr>
        <tr th:each="item,stat : ${list}" th:class="${item.locked} ? 'danger'">
            <td th:text="${stat.count}"/>
            <td th:unless="${user == item.username}" th:text="${item.username}" />
            <td th:if="${user == item.username}">
                <strong th:text="${user}" />
            </td>
            <td th:text="${item.email}"/>
            <td th:text="${item.operator ? 'Igen' : 'Nem'}"/>
            <td>
                <th:block th:unless="${user == item.username}">
                    <a th:href="@{/users/__${item.username}__/delete}">
                        <span class="glyphicon glyphicon-remove-circle" title="Törlés"/>
                    </a>
                    <th:block th:unless="${item.operator}">
                        <a th:unless="${item.locked}" th:href="@{/users/__${item.username}__/lock}">
                            <span class="glyphicon glyphicon-ban-circle" title="Zárolás"/>
                        </a>
                        <a th:if="${item.locked}" th:href="@{/users/__${item.username}__/unlock}">
                            <span class="glyphicon glyphicon-ok-circle" title="Feloldás"/>
                        </a>
                    </th:block>
                </th:block>
            </td>
        </tr>
    </table>

</th:block>
</body>
</html>
