<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.springframework.org/schema/security/spring-security-3.1.xsd"
      th:fragment="page">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title th:text="Fogadóiroda"></title>

	<link th:href="@{/css/bootstrap-datepicker3.standalone.css}" rel="stylesheet" />
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/application.css}" rel="stylesheet" />

	<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/transition.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.hu.min.js}"></script>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				        aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/welcome}">
					Fogadóiroda
				</a>
			</div>

			<div sec:authorize="isAnonymous()" class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#" th:href="@{/sign-up}">
							<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
							<span>Regisztráció</span>
						</a>
					</li>
					<li>
						<a href="#" th:href="@{/welcome}">
							<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
							<span>Belépés</span>
						</a>
					</li>
				</ul>
			</div>

			<div sec:authorize="isAuthenticated()" class="collapse navbar-collapse" id="navbar">

				<ul class="nav navbar-nav">
					<li><a th:href="@{/events}">Események <span class="sr-only">(current)</span></a></li>

					<li class="dropdown" sec:authorize="!hasRole('ROLE_OPERATOR')">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fogadás <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/bets/events}">Nyitott események</a></li>
							<li><a th:href="@{/bets/list}">Megtett fogadások</a></li>
						</ul>
					</li>

					<li class="dropdown" sec:authorize="hasRole('ROLE_OPERATOR')">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Adminisztráció <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/users}">Felhasználók kezelése</a></li>
							<li><a th:href="@{/event/editor}">Új esemény</a></li>
						</ul>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li>
						<a th:href="@{/profile}">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							<span th:text="${#authentication.name}"/>
						</a>
					</li>
					<li>
						<a th:href="@{/logout}">
							<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
							<span>Kilépés</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div id="standardContent" class="content">
				<div th:replace=":: content"></div>
				<div th:replace=":: modelContent"></div>
			</div>
		</div>
	</div>

</body>
</html>