<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>
<th:block th:fragment="content">

    <div class="page-header">
        <h1>Megtett fogadások</h1>
    </div>

    <table class="table table-striped table-hover">
        <tr>
            <th>#</th>
            <th>Esemény</th>
            <th>Megtett esemény</th>
            <th>Eredmény</th>
            <th/>
        </tr>
        <tr th:each="bet,stat : ${bets}">
            <td th:text="${stat.count}"/>
            <td th:text="${bet.parent.title}" />
            <td th:text="${bet.text}"/>
            <th:block th:if="${bet.won == null}">
                <td th:text="${bet.parent.closed ? 'Lezárt' : 'Nyitott'}" />
            </th:block>
            <th:block th:if="${bet.won != null}">
                <td th:text="${bet.won ? 'Nyert' : 'Vesztett'}" th:class="${bet.won ? 'success' : 'danger'}" />
            </th:block>
            <td>
                <a th:unless="${bet.parent.closed}" th:href="@{/bets/delete/__${bet.parent.id}__}">
                    <span class="glyphicon glyphicon-erase" title="Fogadás törlése"/>
                </a>
            </td>
        </tr>
    </table>

</th:block>
</body>
</html>
