<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>
<th:block th:fragment="content">

    <div class="page-header">
        <h1>Esemény létrehozás</h1>
    </div>

    <form class="form-horizontal" th:object="${event}" th:action="@{/event/new-event}" method="post">

        <input type="hidden" class="form-control" th:field="*{id}" />
        <input type="hidden" class="form-control" th:value="${userId}" id="userId" name="userId" />

        <div th:class="${#fields.hasErrors('title')}? 'form-group has-error' : 'form-group'">
            <div class="col-sm-4">
                <input type="text" class="form-control" th:field="*{title}" placeholder="Cím" autofocus="autofocus" />
            </div>
            <th:div th:if="${#fields.hasErrors('title')}" th:each="err : ${#fields.errors('title')}" >
                <th:span th:text="${err}" class="label label-danger" />
                <br />
            </th:div>
        </div>

        <div th:class="${#fields.hasErrors('description')}? 'form-group has-error' : 'form-group'">
            <div class="col-sm-4">
                <input type="text" class="form-control" th:field="*{description}" placeholder="Leírás" />
            </div>
            <th:div th:if="${#fields.hasErrors('description')}" th:each="err : ${#fields.errors('description')}" >
                <th:span th:text="${err}" class="label label-danger" />
                <br />
            </th:div>
        </div>

        <div th:class="${#fields.hasErrors('start')}? 'form-group has-error' : 'form-group'">
            <div class="col-sm-4">
                <div class="input-group date" id="start_container">
                    <input type="text" class="form-control" th:field="*{start}" placeholder="Kezdés" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar" />
                    </span>
                    <script type="text/javascript"
                            th:inline="javascript">
                        $([['#start_container']]).datepicker({
                            //format: "yyyy.mm.dd",
                            language: "hu",
                            locale: "hu",
                            orientation: "top left"
                        });
                    </script>
                </div>
            </div>
            <th:div th:if="${#fields.hasErrors('start')}" th:each="err : ${#fields.errors('start')}" >
                <th:span th:text="${err}" class="label label-danger" />
                <br />
            </th:div>
        </div>

        <div th:class="${#fields.hasErrors('startTime')}? 'form-group has-error' : 'form-group'">
            <div class="col-sm-4">
                <input type="text" class="form-control" th:field="*{startTime}" placeholder="Kezdés idő (hh:mm)" />
            </div>
            <th:div th:if="${#fields.hasErrors('startTime')}" th:each="err : ${#fields.errors('startTime')}" >
                <th:span th:text="${err}" class="label label-danger" />
                <br />
            </th:div>
        </div>

        <div th:class="${#fields.hasErrors('end')}? 'form-group has-error' : 'form-group'">
            <div class="col-sm-4">
                <div class="input-group date" id="end_container">
                    <input type="text" class="form-control" th:field="*{end}" placeholder="Zárás" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar" />
                    </span>
                    <script type="text/javascript"
                            th:inline="javascript">
                        $([['#end_container']]).datepicker({
                            //format: "yyyy.mm.dd",
                            language: "hu",
                            locale: "hu",
                            orientation: "top left"
                        });
                    </script>
                </div>
            </div>
            <th:div th:if="${#fields.hasErrors('end')}" th:each="err : ${#fields.errors('end')}" >
                <th:span th:text="${err}" class="label label-danger" />
                <br />
            </th:div>
        </div>

        <div th:class="${#fields.hasErrors('endTime')}? 'form-group has-error' : 'form-group'">
            <div class="col-sm-4">
                <input type="text" class="form-control" th:field="*{endTime}" placeholder="Zárás idő (hh:mm)" />
            </div>
            <th:div th:if="${#fields.hasErrors('endTime')}" th:each="err : ${#fields.errors('endTime')}" >
                <th:span th:text="${err}" class="label label-danger" />
                <br />
            </th:div>
        </div>

        <button type="submit" class="btn btn-sm btn-primary" name="action" value="save">Mentés</button>

        <button type="submit" th:if="${event.id}" name="action" value="publish"
                class="btn btn-sm btn-primary" th:text="${'Véglegezés'}"/>
    </form>
</th:block>
</body>
</html>