
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>
<th:block th:fragment="content">

    <div class="page-header">
        <h1>Összes esemény listája</h1>
    </div>

    <table class="table table-striped table-hover">
        <tr>
            <th>#</th>
            <th>Cím</th>
            <th>Leírás</th>
            <th>Publikálás</th>
            <th>Lezárás</th>
            <th th:if="${operator}">Műveletek</th>
        </tr>
        <tr th:each="item,stat : ${list}">
            <td th:text="${stat.count}"/>
            <td th:text="${item.title}" />
            <td th:text="${item.description}"/>
            <td th:text="${item.start} ? ${#dates.format(item.start, 'yyyy. MMMM d,  HH:mm')} : ${''}"/>
            <td th:text="${item.start} and ${item.end} ? ${#dates.format(item.end, 'yyyy. MMMM d,  HH:mm')} : ${''}"/>
            <th th:if="${operator}">
                <a th:href="@{/event/editor/?id=__${item.id}__}">
                    <span class="glyphicon glyphicon-pencil" title="Szerkesztés"/>
                </a>
                <a th:href="@{/event/__${item.id}__/outcome/}">
                    <span class="glyphicon glyphicon-align-justify" title="Tételek szerkesztése"/>
                </a>
                <a th:href="@{/event/delete/__${item.id}__}">
                    <span class="glyphicon glyphicon-remove" title="Törlés"/>
                </a>
            </th>
        </tr>
    </table>

</th:block>
</body>
</html>