<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>
<th:block th:fragment="content">

    <div class="page-header">
        <h1>Tételek</h1>
    </div>
    <!--
    <form class="form-horizontal" th:object="${outcomes}" th:action="@{/event/__${event.id}__/outcome/save}" method="post">

        <div th:each="outcome,stat : ${outcomes}" class="form-group">
            <div class="col-sm-4">
                    <input type="hidden" th:value="${outcome.value.id}" />
                    <input type="hidden" th:value="${event.id}" />
                    <input type="text" th:value="${outcome.value.text}" />
                    <input type="radio" name="outcome"  th:value="${outcome.value.won}" />
                <button type="submit" class="btn btn-xs btn-default" th:formaction="@{/event/__${event.id}__/outcome/delete/?outcomeId=__${outcome.value.id}__}">
                    <span class="glyphicon glyphicon-remove" title="Törlés"/>
                </button>
            </div>
        </div>
            <button type="submit" class="btn btn-sm btn-primary" th:formaction="@{/event/__${event.id}__/outcome/add}">
                <span class="glyphicon glyphicon-plus" title="Új tétel"/>
            </button>
            <button type="submit" class="btn btn-sm btn-primary">Mentés</button>
    </form>
    -->

    <table class="table table-striped table-hover">
        <tr>
            <th>Tétel</th>
            <th>Állapot</th>
            <th>Funkciók</th>
        </tr>
        <tr th:each="outcome,stat : ${outcomes}">
            <td th:text="${outcome.value.text}"/>
            <td th:unless="${closed}">
                Nyitott
            </td>
            <td th:if="${closed}">
                <th:block th:unless="${outcome.value.evaluated}" th:text="${'N/A'}"/>
                <th:block th:if="${outcome.value.evaluated}">
                    <th:block th:if="${outcome.value.won}" th:text="${'Nyert'}" />
                    <th:block th:unless="${outcome.value.won}" th:text="${'Vesztett'}"/>
                </th:block>
            </td>
            <td>
                <th:block th:unless="${closed}">
                    <a th:href="@{/event/__${event.id}__/outcome/delete/?outcomeId=__${outcome.value.id}__}">
                        <span class="glyphicon glyphicon-remove" title="Törlés"/>
                    </a>
                </th:block>
                <th:block th:if="${closed}">
                    <a th:href="@{/event/__${event.id}__/outcome/result/?outcomeId=__${outcome.value.id}__}">
                        <span th:unless="${outcome.value.won}" class="glyphicon glyphicon-thumbs-up" title="Nyert"/>
                    </a>
                </th:block>
            </td>
        </tr>
    </table>

    <form class="form-horizontal" th:object="${outcome}" th:action="@{/event/__${event.id}__/outcome/add}" method="post">
            <div class="col-sm-4">
                <input type="hidden" th:field="*{id}" th:value="${outcome.id}" />
                <input type="text" th:field="*{text}" />
                <button type="submit" class="btn btn-sm btn-primary">Új tétel</button>
            </div>
    </form>

</th:block>
</body>
</html>