<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>
<th:block th:fragment="content">

    <div class="page-header">
        <h1 th:text="${event.description}"></h1>
    </div>

    <form class="form-horizontal" th:object="${bet}" th:action="@{/bets/create}" method="post">

        <input type="hidden" th:field="*{eventId}" />

        <div class="form-group">
            <label class="control-label col-sm-2" for="start">Kezdés:</label>
            <div class="col-sm-3">
                <span id="start" class="form-control"
                      th:text="${#dates.format(event.start, 'yyyy. MMMM d,  HH:mm')}" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="end">Befejezés:</label>
            <div class="col-sm-3">
                <span id="end" class="form-control"
                      th:text="${#dates.format(event.end, 'yyyy. MMMM d,  HH:mm')}" />
            </div>
        </div>

        <div th:class="${#fields.hasErrors('outcomeId')}? 'form-group has-error' : 'form-group'">
            <div th:each="outcome,stat : ${event.outcomes}" class="radio col-sm-offset-2">
                <label>
                    <input type="radio" th:field="*{outcomeId}" th:value="${outcome.value.id}" />
                    <th:block th:text="${outcome.value.text}" />
                </label>
            </div>
            <div th:if="${#fields.hasErrors('outcomeId')}" th:each="err : ${#fields.errors('outcomeId')}" >
                <span th:text="${err}" class="label label-danger" />
                <br />
            </div>
        </div>

        <button type="submit" class="btn btn-sm btn-primary">Mentés</button>
    </form>
</th:block>
</body>
</html>
